<h2 mat-dialog-title>Add Order</h2>
<div mat-dialog-content>
  <form [formGroup]="addOrderForm">
    <mat-form-field>
      <mat-label>Customer Name</mat-label>
      <input matInput formControlName="customerName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Item Name</mat-label>
      <input matInput formControlName="itemName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity">
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button mat-button (click)="closeModal()">Cancel</button>
  <button mat-button (click)="onSubmit()">Save</button>
</mat-dialog-actions>